<h1>Contactr</h1>
<p>Truly, 100%, the greatest contact management thing like ever</p>

<%= link_to "Sign up", new_user_path, class: "btn btn-large btn-success" %>
<%= link_to "Log in", new_session_path, class: "btn btn-large btn-primary" %>
