<h1>Your contacts</h1>
<%= link_to "New Contact", new_user_contact_path(@user) %>
<% if @contacts.nil? %>
	<h2>Create a Contact</h2>
 <% else %>
  <div class="contacts">
	<% @contacts.each do |contact| %>
	  <ul>
		  <li><%= contact %></li>
		</ul>
		<% end %>
	</div>
<% end %>