<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="left pull-left">CONTACTR</div>
  	<div class="left pull-right">
  		<% if logged_in? %>
	  		<%= link_to "Sign out", logout_path %>
	  	<% else %>
	  	  <%= link_to "Log in", new_session_path %>
		  <% end %>
  	</div>
  </div>
</div>
